# FORMAS DE CONEXÃO

# Conexão com Windows Authentication
# CONNECTION_STRING=Server=(localdb)\MSSQLLocalDB;Database=GestaoPatrimonios;Trusted_Connection=True;TrustServerCertificate=True

# SQL Server Authentication (usuário e senha)
# CONNECTION_STRING=Server=localhost;Database=GestaoPatrimonios;User Id=SEU_USUARIO;Password=SUA_SENHA;TrustServerCertificate=True

# Configuração de chave JWT
# Chave precisa ter pelo menos 32 caracteres
#JWT_KEY=sua_chave_aqui